.product-link {
    box-shadow: 0 0 6px -3px #000;

    &:hover,
    &:focus {
        transform: translateY(-2px);

        .card-title {
            text-decoration: underline;
        }
    }

    .card-img-top {
        height: auto;
        aspect-ratio: 1/1;
        object-position: center;
    }
}
