@import "../base/variables";
@import "../base/mixins";

.product-link {
    box-shadow: $shadow;

    &:hover,
    &:focus {
        transform: translateY(-2px);

        .card-title {
            text-decoration: underline;
        }
    }

    .card-img-top {
        @include imgRatio1;
    }
}
