@mixin mq($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@mixin linkStyle {
    a {
        color: $font-color;
        text-decoration: none;

        &:hover,
        &:focus {
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}

@mixin navBlock {
    a {
        display: block;
        padding: 0 1.2rem;
    }
}

@mixin imgRatio1 {
    height: auto;
    aspect-ratio: 1/1;
    object-position: center;
}
