.logo {
    font-family: $font-logo;
}

.menu-btn,
.back-btn {
    border: none;
    background-color: transparent;
    width: 28px;
    height: 24px;
}

.search-bar {
    width: 70%;

    @include mq(992px) {
        width: 100%;
    }

    input {
        width: 100%;
        padding: 4px 8px 4px 32px;

        &:focus {
            outline-color: $primary;
        }
    }

    &-icon {
        top: 8px;
        left: 10px;
    }
}

.back-top {
    box-shadow: $shadow;
    bottom: 3%;
    right: 5%;

    @include mq(992px) {
        right: 3%;
    }
}
